{{ define "book_list.tmpl" }}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
</head>
<body>
<div style="padding-bottom: 5px">
    <a href="/book/new"><input type="button" value="添加新书"/></a>
</div>
<style>
    .tb_css table, table tr th, table tr td {
        border: 1px solid;
    }

    .tb_css table {
        width: 350px;
        min-height: 25px;
        line-height: 25px;
        border-collapse: collapse;
        text-align: center;
    }
</style>
<div class="tb_css">
    <table>
        <thead>
        <tr>
            <th>编号</th>
            <th>书名</th>
            <th>价格</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{range .data}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Title}}</td>
            <td>{{.Price}}</td>
            <td>
                <a href="/book/delete?id={{.ID}}">
                    <input type="button" style="margin-bottom: 2px" value="删除"/>
                </a>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>
{{end}}